*~
xcuserdata
*xccheckout
xccheckout
*.xccheckout
ARMonopolyNativeCodeBase.xcodeproj/project.xcworkspace/xcshareddata/ARMonopolyNativeCodeBase.xccheckout



*.xccheckout

ARMonopolyNativeCodeBase.xcodeproj/project.xcworkspace/xcshareddata/ARMonopolyNativeCodeBase.xccheckout
